:root {
  --clr-cyan: hsl(172, 67%, 45%);
  --clr-cyan-2: hsl(183, 100%, 15%);
  --clr-cyan-3: hsl(186, 14%, 43%);
  --clr-cyan-4: hsl(184, 14%, 56%);
  --clr-cyan-5: hsl(185, 41%, 84%);
  --clr-cyan-6: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-primary: "Space Mono", monospace;
}
